@using partsbin.Services
@using partsbin.Logic.Services
@inject IPartFieldService PartFieldService;
@inject IPartUiService PartUiService;
@inject NavigationManager NavigationManager;

<h4>Locations</h4>

@if (_data is null)
{
    <p><em>Loading...</em></p>
}
else if (!_data.Any())
{
    <div class="alert alert-info" role="alert">
        No parts with a location specified have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Location</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _data)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-location/@item.location">
                        @item.location
                    </a>
                </td>
                <td>@item.quantity</td>
                <td>
                    <div class="input-group">
                        <button class="btn btn-sm btn-outline-primary form-control"
                                type="button"
                                onclick:preventDefault
                                onclick="@(() => AddPart(item.location))"
                                title="@($"Add a part stored in the {item.location} location")">
                            <i class="oi oi-plus"></i>
                        </button>
                        <a class="btn btm-sm btn-outline-secondary form-control"
                           href="/all-parts/by-location/@item.location"
                           title="@($"View all parts located at {item.location}")">
                            <i class="oi oi-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override async void OnInitialized()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        _data = (await PartFieldService.GetUniqueLocationsAndCounts())
            .OrderBy(x => x.location)
            .ToList();
        StateHasChanged();
    }

    private List<(string location, int quantity)>? _data;

    private async void AddPart(string location)
    {
        var part = await PartUiService.AddPart(location: location);

        if (part is not null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}