@using partsbin.Services
@inject IPartFieldService PartFieldService;
@inject IPartUiService PartUiService;
@inject NavigationManager NavigationManager;

<h4>Manufacturers</h4>

@if (_data is null)
{
    <p><em>Loading...</em></p>
}
else if (!_data.Any())
{
    <div class="alert alert-info" role="alert">
        No parts with a manufacturer specified have been added
    </div>
}
else
{
    <table class="table border">
        <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _data)
        {
            <tr>
                <td>
                    <a href="/all-parts/by-manufacturer/@item.manufacturer">
                        @item.manufacturer
                    </a>
                </td>
                <td>@item.quantity</td>
                <td>
                    <div class="input-group">
                        <button class="btn btn-sm btn-outline-primary form-control"
                                type="button"
                                onclick:preventDefault
                                onclick="@(() => AddPart(item.manufacturer))"
                                title="@($"Add a part manufactured by {item.manufacturer}")">
                            <i class="oi oi-plus"></i>
                        </button>
                        <a class="btn btn-sm btn-outline-secondary form-control"
                           href="/all-parts/by-manufacturer/@item.manufacturer"
                           title="@($"View all parts manufactured by {item.manufacturer}")">
                            <i class="oi oi-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    protected override void OnInitialized()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        _data = PartFieldService
            .GetUniqueManufacturersAndCounts()
            .OrderBy(x => x.manufacturer)
            .ToList();
        StateHasChanged();
    }

    private List<(string manufacturer, int quantity)>? _data;

    private async void AddPart(string manufacturer)
    {
        var part = await PartUiService.AddPart(manufacturer: manufacturer);

        if (part is not null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}