@using partsbin.Helpers
@using System.Net

@if (Part.PartType.HasContent())
{
    <span>
        Part type:
        <a href="/all-parts/by-part-type/@Part.PartType">
            <strong>@Part.PartType</strong>
        </a>
    </span>
    <br/>
}
@if (Part.Range.HasContent())
{
    <span>
        Range:
        <a href="/all-parts/by-range/@Part.Range">
            <strong>@Part.Range</strong>
        </a>
    </span>
    <br/>
}
@if (Part.PartName.HasContent())
{
    <span>
        Part name: 
        <a href="/all-parts/by-part-name/@Part.PartName">
            <strong>@Part.PartName</strong>
        </a>
    </span>
    <br/>
}
@if (Part.PackageType.HasContent())
{
    <span>
        Package type:
        <strong>@Part.PackageType</strong>
    </span>
    <br/>
}
@if (Part.Value.HasContent())
{
    <span>
        Value:
        <strong>
            @(Part.Value + (Part.ValueUnit ?? string.Empty))
        </strong>
    </span>
    <br/>
}
@if (Part.Manufacturer.HasContent())
{
    <span>
        Manufacturer:
        <a href="/all-parts/by-manufacturer/@Part.Manufacturer">
            <strong>@Part.Manufacturer</strong>
        </a>
    </span>
    <br/>
}
@if (Part.PartNumber.HasContent())
{
    <span>
        Part number:
        <a href="/all-parts/by-part-number/@Part.PartNumber">
            <strong>@Part.PartNumber</strong>
        </a>
        <a href="https://www.google.com/search?q=@UrlEncode(Part.PartNumber ?? "")" target="_blank" title="Google this part number">
            <i class="oi oi-magnifying-glass"></i>
        </a>
    </span>
    <br/>
}
@if (Part.Location.HasContent())
{
    <span>
        Location:
        <a href="/all-parts/by-location/@Part.Location">
            <strong>@Part.Location</strong>
        </a>
    </span>
    <br/>
}

@code {
    [Parameter]
    public required Part Part { get; set; }

    string UrlEncode(string input)
    {
        return WebUtility.UrlEncode(input);
    }
}