@using System.Reflection
@using partsbin.Services
@inject INavUiService NavUiService;

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">partsbin</a>
        <div>
            <Main_TopCenterComponent/>
        </div>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark"
             tabindex="-1"
             id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title"
                    id="offcanvasNavbarLabel">
                    menu
                </h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item" style="margin-bottom:1rem">
                        <Main_SearchComponent/>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" 
                                 href="." 
                                 Match="NavLinkMatch.All"
                                 @onclick="@NavUiService.HideNavbar">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" 
                                 href="/all-parts"
                                 @onclick="@NavUiService.HideNavbar">
                            <span class="oi oi-box" aria-hidden="true"></span> All parts
                        </NavLink>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <span class="oi oi-box" aria-hidden="true"></span> Parts drill-down
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <NavLink class="nav-link" 
                                         href="/part-types"
                                         @onclick="@NavUiService.HideNavbar">
                                    Part type
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" 
                                         href="/ranges"
                                         @onclick="@NavUiService.HideNavbar">
                                    Range
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" 
                                         href="/part-names"
                                         @onclick="@NavUiService.HideNavbar">
                                    Part name
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" 
                                         href="/manufacturers"
                                         @onclick="@NavUiService.HideNavbar">
                                    Manufacturer
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" 
                                         href="/part-numbers"
                                         @onclick="@NavUiService.HideNavbar">
                                    Part number
                                </NavLink>
                            </li>
                            <li>
                                <NavLink class="nav-link" 
                                         href="/locations"
                                         @onclick="@NavUiService.HideNavbar">
                                    Location
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <NavLink class="nav-link" 
                                 href="/admin"
                                 @onclick="@NavUiService.HideNavbar">
                            <span class="oi oi-cog"></span> Admin
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link"
                                 href="/rubbish-bin"
                                 @onclick="@NavUiService.HideNavbar">
                            <span class="oi oi-trash" aria-hidden="true"></span> Rubbish bin
                        </NavLink>
                    </li>
                    <li>
                        <small>
                            @Version
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>



@code {
    private static string Version => "partsbin v" + Assembly.GetEntryAssembly()?.GetName().Version;
}