@page "/all-parts/{byType?}/{qualifier?}"
@using partsbin.Helpers
@using partsbin.Services
@using partsbin.UiServices
@inject NavigationManager NavigationManager;
@inject IPartService PartService;
@inject IPartUiService PartUiService;
@inject IToastService ToastService;

<h3>
    All parts
    @if (ByType.HasContent())
    {
        <span>by </span>
        switch (ByType)
        {
            case "by-part-type":
                <span>part type</span>
                break;
            case "by-range":
                <span>range</span>
                break;
            case "by-part-name":
                <span>part name</span>
                break;
            case "by-manufacturer":
                <span>manufacturer</span>
                break;
            default:
                <span></span>
                break;
        }
        <span>
            <em>&nbsp;@Qualifier&nbsp;</em>
            <button class="btn btn-link btn-sm"
                    @onclick="@(() => NavigationManager.NavigateTo("/all-parts"))">
                clear filter
            </button>
        </span>
        
    }
</h3>

<div class="row">
    <div class="container-fluid">
        @if (_parts is null)
        {
            <p><em>Loading...</em></p>
        }
        else if (!_parts.Any())
        {
            <div class="alert alert-info" role="alert">
                No parts have been added
            </div>
        }
        else
        {
            <div class="mt-2">
                <table class="table border">
                    <thead>
                    <tr>
                        <th>Part type</th>
                        <th>Range</th>
                        <th>Part name</th>
                        <th>Package type</th>
                        <th>Value</th>
                        <th>Manufacturer</th>
                        <th>Part number</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var part in _parts)
                    {
                        <tr>
                            <td>
                                @if (part.PartType.HasContent())
                                {
                                    <a href="/all-parts/by-part-type/@part.PartType">
                                        @part.PartType
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Range.HasContent())
                                {
                                    <a href="/all-parts/by-range/@part.Range">
                                        @part.Range
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.PartName.HasContent())
                                {
                                    <a href="/all-parts/by-part-name/@part.PartName">
                                        @part.PartName
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.PackageType.HasContent())
                                {
                                    @part.PackageType
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @part.FormattedValue
                            </td>
                            <td>
                                @if (part.Manufacturer.HasContent())
                                {
                                    <a href="/all_parts/by-manufacturer/@part.Manufacturer">
                                        @part.Manufacturer
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.PartNumber.HasContent())
                                {
                                    @part.PartNumber
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Location.HasContent())
                                {
                                    @part.Location
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td style="@(part.Quantity <= 0 ? "color:#f55" : "")">
                                <button class="btn btn-light"
                                       @onclick="@(() => DecreaseQuantity(part))"
                                       @onclick:preventDefault
                                       title="Decrease quantity">
                                    <i class="oi oi-minus"></i>
                                </button>
                                <button class="btn btn-light"
                                        style="min-width:4em;"
                                        @onclick="@(() => EditQuantity(part))"
                                        @onclick:preventDefault
                                        title="Edit quantity">
                                    @part.Quantity
                                </button>
                                <button class="btn btn-light"
                                        @onclick="@(() => IncreaseQuantity(part))"
                                        @onclick:preventDefault
                                        title="Increase quantity">
                                    <i class="oi oi-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button
                                    @onclick="@(() => NavigationManager.NavigateTo($"/part/{part.Id}"))"
                                    @onclick:preventDefault
                                    class="btn btn-outline-info"
                                    title="Go to part details"
                                >
                                    <i class="oi oi-list"></i>
                                </button>
                                <button class="btn btn-outline-info"
                                        @onclick="@(() => EditPart(part))"
                                        @onclick:preventDefault
                                        title="Edit part">
                                    <i class="oi oi-pencil"></i>
                                </button>
                                <button class="btn btn-outline-danger"
                                        @onclick="@(() => DeletePart(part))"
                                        @onclick:preventDefault
                                        title="Delete part">
                                    <i class="oi oi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {
    private List<Part>? _parts;

    [Parameter]
    public string? ByType { get; set; }
    [Parameter]
    public string? Qualifier { get; set; }
    
    protected override void OnParametersSet()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        var qualifier = Qualifier?.ToLower();
        
        _parts = PartService.GetAllParts(ByType, qualifier)
            .OrderBy(x => x.PartType)
            .ThenBy(x => x.Range)
            .ThenBy(x => x.PartName)
            .ThenBy(x => x.PartNumber)
            .ThenBy(x => x.Value)
            .ToList();
        
        StateHasChanged();
    }

    private async void EditPart(Part part)
    {
        await PartUiService.EditPart(part);
        StateHasChanged();
    }

    private async void EditQuantity(Part part)
    {
        var previousQuantity = part.Quantity;
        
        await PartUiService.EditQuantity(part);

        if (previousQuantity == part.Quantity) return;
        
        if (part.Quantity < 0)
        {
            ToastService.ShowWarning("The part quantity has been set to less than zero. It has still been saved.");
        }
        else
        {
            ToastService.ShowSuccess("The part quantity has been updated");
        }
        
        StateHasChanged();
    }

    private void IncreaseQuantity(Part part)
    {
        part.Quantity++;
        PartService.UpdatePart(part);
        StateHasChanged();
    }
    
    private void DecreaseQuantity(Part part)
    {
        part.Quantity--;
        PartService.UpdatePart(part);
        StateHasChanged();
    }

    private void DeletePart(Part part)
    {
        part.IsDeleted = true;

        PartService.UpdatePart(part);
        _parts!.Remove(part);
        
        ToastService.ShowSuccess("The part has been deleted. You can recover it from the rubbish bin.");
        StateHasChanged();
    }
}