@page "/all-parts/{byType?}/{qualifier?}"
@using partsbin.Helpers
@using partsbin.Services
@using partsbin.UiServices
@inject NavigationManager NavigationManager;
@inject IPartService PartService;
@inject IPartUiService PartUiService;
@inject IToastService ToastService;

<h3>
    All parts
    @if (ByType.HasContent())
    {
        <span>by </span>
        switch (ByType)
        {
            case "by-part-type":
                <span>part type</span>
                break;
            case "by-range":
                <span>range</span>
                break;
            case "by-part-name":
                <span>part name</span>
                break;
            case "by-manufacturer":
                <span>manufacturer</span>
                break;
            case "by-location":
                <span>location</span>
                break;
            default:
                <span>???</span>
                break;
        }
        <span>
            <em>&nbsp;@Qualifier&nbsp;</em>
            <button class="btn btn-link btn-sm"
                    @onclick="@(() => NavigationManager.NavigateTo("/all-parts"))">
                clear filter
            </button>
        </span>
    }
</h3>

<div class="row">
    <div class="container-fluid">
        @if (_parts is null)
        {
            <p>
                <em>Loading...</em>
            </p>
        }
        else if (!_parts.Any())
        {
            <div class="alert alert-info" role="alert">
                No parts have been added
            </div>
        }
        else
        {
            <div class="mt-2">
                <table class="table border">
                    <thead>
                    <tr>
                        <th>Part type</th>
                        <th>Range</th>
                        <th>Part name</th>
                        <th>Package type</th>
                        <th>Value</th>
                        <th>Manufacturer</th>
                        <th>Part number</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var part in _parts)
                    {
                        <tr>
                            <td>

                                @if (part.PartType.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.PartType
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Range.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.Range
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Range.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.Range
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.PackageType.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.PackageType
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.FormattedValue.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.FormattedValue
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Manufacturer.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.Manufacturer
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.PartNumber.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.PartNumber
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (part.Location.HasContent())
                                {
                                    <a href="/part/@part.Id">
                                        @part.Location
                                    </a>
                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td style="@(part.Quantity <= 0 ? "color:#f55" : "")">
                                <PartQuantity Part="@part"
                                              Outline="true"/>
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button"
                                            @onclick="@(() => NavigationManager.NavigateTo($"/part/{part.Id}"))"
                                            @onclick:preventDefault
                                            class="btn btn-outline-primary"
                                            title="Open part details">
                                        <i class="oi oi-eye"></i>
                                    </button>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-outline-primary dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="dropdown-item"
                                                        type="button"
                                                        @onclick:preventDefault
                                                        @onclick="@(() => EditPart(part))">
                                                    Edit in place
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item"
                                                        type="button"
                                                        @onclick:preventDefault
                                                        @onclick="@(() => NavigationManager.NavigateTo($"/part/{part.Id}"))">
                                                    Open part details
                                                </button>
                                            </li>
                                            <li>
                                                <button class="dropdown-item"
                                                        type="button"
                                                        @onclick:preventDefault
                                                        @onclick="@(() => DuplicatePart(part))">
                                                    Duplicate part
                                                </button>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider"/>
                                            </li>
                                            <li>
                                                <button class="dropdown-item"
                                                        type="button"
                                                        @onclick:preventDefault
                                                        @onclick="@(() => DeletePart(part))">
                                                    Delete part
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {
    private List<Part>? _parts;

    [Parameter]
    public string? ByType { get; set; }

    [Parameter]
    public string? Qualifier { get; set; }

    protected override void OnParametersSet()
    {
        RefreshData();
    }

    private void RefreshData()
    {
        var qualifier = Qualifier?.ToLower();

        _parts = PartService.GetAllParts(ByType, qualifier)
            .OrderBy(x => x.PartType)
            .ThenBy(x => x.Range)
            .ThenBy(x => x.PartName)
            .ThenBy(x => x.PartNumber)
            .ThenBy(x => x.FormattedValue)
            .ToList();

        StateHasChanged();
    }

    private async void EditPart(Part part)
    {
        await PartUiService.EditPart(part);
        StateHasChanged();
    }

    private void DeletePart(Part part)
    {
        part.IsDeleted = true;

        PartService.UpdatePart(part);
        _parts!.Remove(part);

        ToastService.ShowSuccess("The part has been deleted. You can recover it from the rubbish bin.");
        StateHasChanged();
    }

    private void DuplicatePart(Part part)
    {
        var duplicatePart = PartService.Duplicate(part!);
        NavigationManager.NavigateTo($"/part/{duplicatePart.Id}");
        ToastService.ShowSuccess("The part has been duplicated, you are working on the duplicate part now");
    }

}